{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KNN</title>
    <script type="text/javascript">
        function picture(){
        var pic = "{% static 'user_classifier/img/my_graph.png' %}"
        document.getElementById('graph').src = pic.replace('90x90', '225x225');
        document.getElementById('graph').style.display='block';
        }
    </script>
</head>
<body>
<h1>KNN Classification</h1>
<h3>Algorithm Description:</h3>
<p>K-Nearest Neighbors is a lazy classification algorithm that uses a distance formula
    to assign label to datapoint. In other words, KNN classifies a datapoint based on the
    characteristics of its neighbors. Python’s sklearn library supports calculating distances
    using two different formulas: Manhattan Distance and Euclidian Distance.</p>
<h3>Dataset Description:</h3>
<p>The dataset used to train this model contains two features: Age of the customer and Salary
    of the customer. Using these two features, the model tries to predict whether the customer
    is likely to buy a certain product or not.</p>
<p>Sample Data:</p>
<table>
    <tr>
        <td>Number</td>
        <td>Age</td>
        <td>Salary</td>
        <td>Purchased?</td>
    </tr>
    <tr>
        <td>1</td>
        <td>18</td>
        <td>82000</td>
        <td>No</td>
    </tr>
    <tr>
        <td>2</td>
        <td>29</td>
        <td>80000</td>
        <td>No</td>
    </tr>
    <tr>
        <td>3</td>
        <td>47</td>
        <td>25000</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>4</td>
        <td>45</td>
        <td>26000</td>
        <td>Yes</td>
    </tr>
</table>
<h3>Test Your Own Values:</h3>

<form action = "" method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit">
</form>

{% if submitbutton == "Submit" %}
<h3>Result:</h3>
<p> {{ message }}</p>
{% endif %}

<br>
<img id="graph" style="display:none;" />
<button onclick="picture()">Show Graph</button>
</body>
</html>