{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KNN</title>
    <style>
        .graph {
            display: none;
        }

        .graph_check:checked ~ .graph {
            display: block;
        }
    </style>
</head>
<body>
<h1>KNN Classification</h1>
<h3>Algorithm Description:</h3>
<p>{{ algo_desc }}</p>
<h3>Dataset Description:</h3>
<p>{{ ds_desc }}</p>
<p>Sample Data:</p>
<table>
    <tr>
        <td>Number</td>
        <td>Age</td>
        <td>Salary</td>
        <td>Purchased?</td>
    </tr>
    <tr>
        <td>1</td>
        <td>18</td>
        <td>82000</td>
        <td>No</td>
    </tr>
    <tr>
        <td>2</td>
        <td>29</td>
        <td>80000</td>
        <td>No</td>
    </tr>
    <tr>
        <td>3</td>
        <td>47</td>
        <td>25000</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>4</td>
        <td>45</td>
        <td>26000</td>
        <td>Yes</td>
    </tr>
</table>
<h3>Test Your Own Values:</h3>

<form action = "" method = "post">
    {% csrf_token %}
    {% for feature in training_features %}
        <label>{{ feature }}</label>
        <input type="number" name="user_inputs" required><br>
    {% endfor %}
    <input type="submit" name="submit" value="Submit">
</form>

{% if submitbutton == "Submit" %}
<h3>Result:</h3>
<p> {{ message }}</p>
{% endif %}

<br>
<input type="checkbox" class="graph_check" name="graph_check">Show Graph
<img src="{% static 'user_classifier/img/my_graph.png' %}" class="graph" name="graph"/>
</body>
</html>